.container {
  display: flex;
  margin: 20px;
  width: 750px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.msg {
  position: fixed;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  top: 45px;
  background-color: #333;
  width: 500px;
  border-radius: 7px;
}

.msg p {
  color: #eee;
}

.msg-button {
  padding: 0;
  margin: 0;
  width: 54px;
  background-color: transparent;
}

.msg-button:hover {
  background-color: transparent;
}

.conatiner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 7px 7px 0 0;
  width: 750px;
  height: 60px;
  padding: 15px;
}

textarea {
  padding: 15px;
  max-width: 750px;
  min-width: 750px;
  max-height: 700px;
  min-height: 250px;
  color: #686868;
  border-color: #eee;
  outline: none;
  font-size: 16px;
}

.identification {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0 0 7px 7px;
  padding: 15px;
  background-color: #e3e3e3;
}

.identification-title {
  font-size: 16px;
  font-weight: bold;
  color: #686868;
}

.email {
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  width: 40%;
  outline: none;
  color: #686868;
  font-size: 16px;
}

p {
  font-weight: bold;
  font-size: 17px;
  color: #686868;
}

.container-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

button {
  padding: 12px;
  width: 155px;
  height: 55px;
  font-size: 15px;
  font-weight: bold;
  color: #444;
  margin: 4px 0px 4px 0px;
  background-color: #77dd77;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transition: all 0.3s ease;
  background-color: #90ee90;
}